{{define "form/streamSOCKOPT"}}
<!-- sockopt enable -->
<!-- <a-form layout="inline" v-if="inbound.canSockopt()">
    <a-form-item label="sockopt">
        <a-switch v-model="inbound.sockopt">
        </a-switch>
    </a-form-item>
</a-form> -->

<!-- sockopt settings -->
<!-- <a-form v-if="inbound.sockopt" layout="inline"> -->

<a-form layout="inline">
    <a-form-item label="sockopt: 相关配置" style="width:200px"> </a-form-item>
    <transition name="list" appear>
        <a-card hoverable style="margin-bottom: 20px;" :class="siderDrawer.isDarkTheme ? darkClass : ''">
            </a-form-item>
            <a-form-item label="TCP 数据包最大传输单元">
                <a-input v-model.number="inbound.stream.sockopt.tcpMaxSeg" style="width: 65px;">
                </a-input>
            </a-form-item>
            <a-form-item label="TCP Fast Open">
                <a-switch v-model="inbound.stream.sockopt.tcpFastOpen">
                    <!-- <a-select-option :value="false">false</a-select-option>
            <a-select-option :value="true">true</a-select-option> -->
                </a-switch>
            </a-form-item>
            <a-form-item label="域名解析策略">
                <a-select v-model="inbound.stream.sockopt.domainStrategy" style="width:200px">
                    <a-select-option v-for="key in DOMAIN_STRATEGY" :value="key">[[ key ]]</a-select-option>
                    </a-se-chlect>
            </a-form-item>
            <a-form-item label="acceptProxyProtocol">
                <a-switch v-model="inbound.stream.sockopt.acceptProxyProtocol">
                    <!-- <a-select-option :value="false">false</a-select-option>
            <a-select-option :value="true">true</a-select-option> -->
                </a-switch>
            </a-form-item>
            <a-form-item label="TCP 保持活跃数据包发送间隔">
                <a-input v-model.number="inbound.stream.sockopt.tcpKeepAliveInterval" style="width: 165px;">
                </a-input>
            </a-form-item>
            <a-form-item label="TCP 空闲时间阈值">
                <a-input v-model.number="inbound.stream.sockopt.tcpKeepAliveIdle" style="width: 165px;">
                </a-input>
            </a-form-item>
            <a-form-item label="TCP UserTimeout">
                <a-input v-model.number="inbound.stream.sockopt.tcpUserTimeout" style="width: 165px;">
                </a-input>
            </a-form-item>
            <a-form-item label="TCP 拥塞控制算法">
                <a-select v-model="inbound.stream.sockopt.tcpcongestion" style="width:200px">
                    <a-select-option value="">系统默认</a-select-option>
                    <a-select-option v-for="key in TCP_CONGESTION" :value="key">[[ key ]]</a-select-option>
                </a-select>
            </a-form-item>
            <a-form-item label="interface">
                <a-input v-model.trim="inbound.stream.sockopt.interface" style="width: 165px"></a-input>
            </a-form-item>
        </a-card>
    </transition>
</a-form>
{{end}}